@using RentACar.DTOs.Response
@model IEnumerable<GetAllBrandsResponse>



<div class=container>
    <div class="row pt-3 pb-4">
        <div>
            <h1>Brands</h1>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th align="center" valign="middle">
                        Id
                    </th>
                    <th align="center" valign="middle">
                        Name
                    </th>
                    <th align="center" valign="middle">
                        Description
                    </th>



                </tr>
            </thead>

            <tbody>
                @foreach (var getAllBrandsResponse in Model)
                {
                    <tr>

                        <td align="center" valign="middle">@getAllBrandsResponse.id</td>
                        <td align="center" valign="middle">@getAllBrandsResponse.name</td>
                        <td align="center" valign="middle">@getAllBrandsResponse.description</td>
                      


                         <td align="center" valign="middle">
                            <a asp-controller="Brand" asp-action="UpdateBrand" asp-route-id="@getAllBrandsResponse.id" type="button" class="btn btn-success style="width:100px">Güncelle</a>
                        </td>
                        
                        <td align="center" valign="middle">
                            <a asp-controller="Brand" asp-action="DeleteBrand" asp-route-id="@getAllBrandsResponse.id" type="button" class="btn btn-danger" style="width:100px">Sil</a>
                        </td> 

                    </tr>
                }
            </tbody>

        </table>

        <div class="row pt-3 pb-2">
            <div>
                <a asp-controller="Brand" asp-action="AddNewBrand" class="btn btn-lg btn-primary" align="center" valign="middle" type="button">
                    Add New Brand
                </a>
            </div>

        </div>
    </div>
</div>